[user]
	name = Radek Novak
	email = radek.novak.cze@gmail.com
[core]
	autocrlf = false
	safecrlf = false
	excludesfile = /Users/anon/.gitignore_global
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	fa = fetch --all
	pom = pull origin master
	push-to-staging = !git fetch --all && git co staging && git reset --hard origin/staging && git rebase origin/master
	push-to-production = !git fetch --all && git co production && git reset --hard origin/production && git rebase origin/staging
	up-master = !git fetch --all && git rebase origin/master
	conflicts = diff --name-only --diff-filter=U
	undo = reset HEAD~1
[push]
	default = matching
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[merge]
	tool = opendiff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
